{% from 'print/_cert_macros.html' import cert_line_row %}
{% set meta = form_meta %}
{% include 'print/_cert_header.html' %}

<table class="cert-line-table" aria-label="Facts of death">
  <colgroup>
    <col class="cert-line-label-col" />
    <col class="cert-line-colon-col" />
    <col class="cert-line-value-col" />
  </colgroup>
  {{ cert_line_row('Registry Number', cert_field(data, 'Registry Number'), 'Registry Number', true) }}
  {{ cert_line_row('Date of Registration', cert_field(data, 'Date of Registration'), 'Date of Registration', true) }}
  {{ cert_line_row('Name of Deceased', cert_field(data, 'Name of Deceased'), 'Name of Deceased', true) }}
  {{ cert_line_row('Sex', cert_field(data, 'Sex'), 'Sex', true) }}
  {{ cert_line_row('Age', cert_field(data, 'Age'), 'Age', true) }}
  {{ cert_line_row('Civil Status', cert_field(data, 'Civil Status'), 'Civil Status', true) }}
  {{ cert_line_row('Nationality', cert_field(data, 'Nationality') or cert_field(data, 'Citizenship'), 'Nationality', true) }}
  {{ cert_line_row('Date of Death', cert_field(data, 'Date of Death'), 'Date of Death', true) }}
  {{ cert_line_row('Place of Death', cert_field(data, 'Place of Death'), 'Place of Death', true) }}
  {{ cert_line_row('Cause of Death', cert_field(data, 'Cause of Death'), 'Cause of Death', true) }}
  {{ cert_line_row('This certification is issued to', '', 'Issued To', false) }}
  <tr>
    <td class="cert-issued-upon" colspan="3">upon his/her request.</td>
  </tr>
</table>
{% include 'print/_cert_footer.html' %}
