{% from 'print/_cert_macros.html' import cert_line_row %}
{% set meta = form_meta %}
{% include 'print/_cert_header.html' %}

<table class="cert-line-table" aria-label="Facts of birth">
  <colgroup>
    <col class="cert-line-label-col" />
    <col class="cert-line-colon-col" />
    <col class="cert-line-value-col" />
  </colgroup>
  {{ cert_line_row('Registry Number', cert_field(data, 'Registry Number'), 'Registry Number', true) }}
  {{ cert_line_row('Date of Registration', cert_field(data, 'Date of Registration'), 'Date of Registration', true) }}
  {{ cert_line_row('Name of Child', cert_field(data, 'Name of Child'), 'Name of Child', true) }}
  {{ cert_line_row('Sex', cert_field(data, 'Sex'), 'Sex', true) }}
  {{ cert_line_row('Date of Birth', cert_field(data, 'Date of Birth'), 'Date of Birth', true) }}
  {{ cert_line_row('Place of Birth', cert_field(data, 'Place of Birth'), 'Place of Birth', true) }}
  {{ cert_line_row('Name of Mother', cert_field(data, 'Name of Mother'), 'Name of Mother', true) }}
  {{ cert_line_row('Citizenship of Mother', cert_field(data, 'Citizenship of Mother'), 'Citizenship of Mother', true) }}
  {{ cert_line_row('Name of Father', cert_field(data, 'Name of Father'), 'Name of Father', true) }}
  {{ cert_line_row('Citizenship of Father', cert_field(data, 'Citizenship of Father'), 'Citizenship of Father', true) }}
  {{ cert_line_row('Date of marriage of Parents', cert_field(data, 'Date of Marriage of Parents') or cert_field(data, 'Date of marriage of Parents'), 'Date of Marriage of Parents', true) }}
  {{ cert_line_row('Place of marriage of Parents', cert_field(data, 'Place of Marriage of Parents') or cert_field(data, 'Place of marriage of Parents'), 'Place of Marriage of Parents', true) }}
  {{ cert_line_row('Remarks', cert_field(data, 'Remarks'), 'Remarks', true) }}
  {{ cert_line_row('This certification is issued to', '', 'Issued To', false) }}
  <tr>
    <td class="cert-issued-upon" colspan="3">upon his/her request.</td>
  </tr>
</table>
{% include 'print/_cert_footer.html' %}
